<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="cs" connectionString="Server=fcab6687-b7d1-47b8-b61a-a0c8004d4f5c.sqlserver.sequelizer.com;Database=dbfcab6687b7d147b8b61aa0c8004d4f5c;User ID=pfashlgspiirgkhm;Password=TaF54AsKBvaBbNVWrU2Bqdh6jKckq7Z3VKfPtzQi2xp6BVR5GExBEXoQ2HUsxhtD;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
